
{% include header.html %}

<div class="container mt-4">
  <div class="card mx-auto" style="max-width: 600px;">
    <img src="https://http2.mlstatic.com/D_NQ_NP_641010-MPE81038227835_112024-O.webp" alt="Jardín">
    <div class="card-body">
      <h3>Silvio en El Rosedal</h3>
      <p>
        El cuento aborda la soledad y el fracaso personal.
        Silvio se refugia en la música y la fantasía para escapar de una vida insatisfactoria.
      </p>
    </div>
  </div>
</div>

{% include footer.html %}
