---
---
{% include header.html %}

<div class="container mt-4">
  <div class="card mx-auto" style="max-width: 600px;">
    <img src="https://imgv2-1-f.scribdassets.com/img/document/464505656/original/3442a45ef1/1?v=1" alt="Libros">
    <div class="card-body">
      <h3>La palabra del mudo</h3>
      <p>
        Es una recopilación de cuentos que retratan personajes comunes, frustrados y silenciosos.
        Ribeyro presenta una visión crítica y realista de la sociedad.
      </p>
    </div>
  </div>
</div>

{% include footer.html %}
